[2013-09-22 12:20] bochecha opened #1 "Provide an appdata file"
We'll need that if we want to appear in app stores like the brand new GNOME Software.

These should be a good basis:
- Cangjie

[code]
- Quick

[code]

Both will need to be translated (itstool seems to be the right thing to use).

Both might need icons (at least 48x48) and screenshots.

When this is done, be sure to let Richard Hughes know, so he can update [his tracking document](https://docs.goo

[2013-09-22 12:34] bochecha opened #2 "Integrate properly in Unity"
I talked with the Ubuntu folks in `#ubuntu-desktop`.

They have [some guidelines](https://wiki.ubuntu.com/TextEntry).

[2013-09-22 12:39] bochecha opened #3 "Make some icons"
We will need a two sets of icons, for both Cangjie and Quick:
1. Icons representing the engines themselves. These will appear in the input switchers of some environment, as well as in App Stores like GNOME Software.

   We need these in different sizes, at least:
   - 48x48 for app stores
   - 16x16 for input switchers (that was mpt's recommendation in `#ubuntu-desktop`)

   It's probably a good i

[2013-09-22 12:40] bochecha opened #4 "Allow suggesting the next possible characters"
We could eventually decide to suggest not just the current character based on
the user inputted code, but also the next one, even before she types.

That seems like it would require knowledge of Chinese grammar, or dictionaries
of very common sentences, or...?

[2013-09-22 12:42] bochecha opened #5 "Make Cangjie a bit more tolerant to input mistakes"
Cangjie is very unforgiving. If you make a mistake in one of the input characters, you will only discover it when you hit space, and you have to start all over again.

It could be possible to be a bit more tolerant and permissive, for example allowing other results than what the user typed, under certain conditions.

One idea is to return candidates which have input codes that are "close" to what

[2013-09-22 12:45] bochecha opened #6 "Traditional to Simplified Chinese"
At least 2 persons told me that when they want to input Simplified Chinese,
they will usually instead write Traditional Chinese and use some kind of
automatic conversion:
- one person said that Microsoft Word allowed her to do that
- one person said that the Yahoo! KeyKey input method does that too

[2013-09-25 07:00] bochecha opened #7 "Drop the hardcoded gettext package"
One possibility would be to have the `ibus-engine-cangjie` script get it from the `Makefile.am` and then pass it as a parameter.

Not very nice, but that script is already generated at build-time, so it would be better than making `src/config.py` generated as well. (I used to have it that way, and it was annoying)

Can't think about a better way right now, but any idea is welcome. :)

[2013-09-25 07:13] bochecha opened #8 "Help the user learn Cangjie - Display the code on wildcard usage"
Cangjie is really tough to learn.

One way to help people learn it is to **display the proper code when they use a wildcard** (`*`).

It could be done different ways, I can think of two:
1. Next to each character in the suggestion popup.

   This has the benefit that it's trivial to implement (we already get the real codes from libcangjie2 when we get the possible characters for a code).

   Howev

[2013-09-29 11:14] bochecha opened #9 "Set up continuous integration"
We should have a look at Travis CI, which integrates well with Github.

Otherwise, any other CI platform would work I guess, someone just needs to have a look into all this.

Note that it might be tough for pycangjie, as it requires both libcangjie2 and pycangjie to be installed first.

[2013-09-29 12:09] bochecha opened #10 "Move the Transifex stuff"
At the moment, IBus Cangjie is translated in Transifex.

The project is declared there as pointing to [bochecha/ibus-cangjie](https://github.com/bochecha/ibus-cangjie).

We need to make it point to [Cangjians/ibus-cangjie](https://github.com/Cangjians/ibus-cangjie) instead, so that translators can go on doing their magic.

[2013-09-29 14:53] bochecha opened #11 "Write some user documentation"
We need to write some user doc, with screenshots and all.

Things to cover:
- the filtering options
- the version switch
- the halfwidth/fullwidth property

However, this will have to wait a bit, as the strings and layout of the various options are not yet settled, so they might change.

Also, this definitely needs to be put up on the website.

[2013-10-23 11:03] bochecha opened #12 "Auto-commit whenever possible"
An IBus Cangjie user just told me about how that could be interesting.

Basically, the idea is that for every key stroke, we could try to get all the characters which code starts with the previously input keys in the background. If there is only one, just commit it automatically, and treat the last key stroke as the first of a new input.

Let's take an example to make it clearer...

First, let's a

[2013-10-27 18:06] #9 closed, assigned to bochecha

[2013-10-29 07:28] #1 closed, assigned to bochecha

[2013-10-29 15:19] bochecha opened #16 "Move from IBusConfig to GSettings"
Upstream IBus mentioned that some time ago in their IRC channel, it seems they are in the process of deprecating IBusConfig.

It's certainly not a high priority, but we should eventually migrate.

[2013-11-23 10:38] #16 closed, assigned to bochecha

[2013-12-10 10:03] #10 closed, assigned to bochecha

[2013-12-11 15:10] #3 closed, assigned to nobody

[2013-12-12 07:58] #11 closed, assigned to bochecha

[2014-01-02 16:05] zerng07 opened #29 "List ibus-cangjie for Chinese (Taiwan) locale in GNOME Settings"
Cangjie is the third popular input method in Taiwan.

If you go into a bookstore and find for books talking about input methods in the Information Technology/Computer Science block, you will see most books are about bopomofo, noseeing and cangjie.

Cangjie 3 is the most popular one. DaXin Cangjie (which is modified from Canjie 3 by a information company, and getting more and more popular nowadays)

[2014-01-02 17:21] zerng07 opened #30 "Consider to support DaXin Cangjie (modified from Cangjie3) mode in future"
DaXin (大新) Cangjie is regarded as the fastest input method for Chinese characters in Taiwan since 2007. It has been the fastest input method (230 characters/min) to type Traditional Chinese in typing competitions and certification activities for Chinese typing held by Taiwan education system for many years. It is now widely accepted as the first choice (noseeing input method was the first years ag

[2014-01-04 12:50] bochecha opened #31 "Allow translating the engine description"
At the moment, the engine description is only in English, in the 2 XML component files.

There has to be a way to translate that, so let's figure it out and do it.

[2014-01-09 08:44] szeming opened #33 "running 'ibus-setup-cangjie cangjie' returns error"
With ibus-cangjie.noarch 2.0-1.fc20, running ibus-setup-cangjie cangjie returns the following error:

[code]

The error is caused by invalid xml.

<pre>
  --(  $:~  )-- xmllint -format /usr/share/ibus-cangjie/setup.ui
/usr/share/ibus-cangjie/setup.ui:210: parser error : Opening and ending tag mismatch: property line 205 and object
                  &lt;/object&gt;
                           ^
</pr

[2014-01-09 08:45] szeming opened #34 "running 'ibus-setup-cangjie cangjie' returns error"
With ibus-cangjie.noarch 2.0-1.fc20, running ibus-setup-cangjie cangjie returns the following error:

[code]

The error is caused by invalid xml.

<pre>
  --(  $:~  )-- xmllint -format /usr/share/ibus-cangjie/setup.ui
/usr/share/ibus-cangjie/setup.ui:210: parser error : Opening and ending tag mismatch: property line 205 and object
                  &lt;/object&gt;
                           ^
</pr

[2014-01-09 08:50] #34 closed, assigned to nobody

[2014-01-12 13:08] bochecha opened #37 "Help the user learn Cangjie - Next possible input keys"
One way to make it easier to learn Cangjie is to display the character matches for the next possible keys.

For example, if the user types `a`, we could suggest both the exact matches (`日` and `曰`) as well as `明` (`ab`), 杲 (`ad`), etc...

This should probably be a new option, disabled by default?

[2014-01-12 14:00] bochecha opened #38 "Adapt the order of suggestions to the user input"
This could be a nice (**disabled by default**) option.

Characters the user inputs often would be suggested first.

[2014-01-13 00:21] boyin opened #39 "Order of Character Choices Inconsistent with Canonical Cangjie?"
(Incomplete) list of characters for which the default is wrong, i.e., the first character popped up in the choice list is not consistent with what the official Cangjie3 lists as the canonical character.  In ibus-cangjie-2.0, the second, "duplicate" character pops up as the default choice, and likely in the ibus-table-chinese-cangjie as well.

Note that what happens is that ibus-cangjie picks up th

[2014-01-13 02:55] #39 closed, assigned to nobody

[2014-01-14 11:11] strngtn opened #40 "Can we fix the name of Simplified Cangjie"
Quick is not a proper and exact name for Simplified Cangjie(速成). It will also be confused with a variant of Cangjie which is called Smart Cangjie(快仓/快倉). Can we rename it to Simplified Cangjie so as to 1) fix the confusion 2)  show more clear relation to the Standard Cangjie.

[2014-01-14 16:22] #40 closed, assigned to nobody

[2014-01-23 02:36] #33 closed, assigned to bochecha

[2014-02-24 03:15] yookoala opened #46 "Positional arguments with the GObject constructor in setup.py"
Reported in [a comment](https://bugs.launchpad.net/ubuntu/+source/ubuntu-meta/+bug/1164252/comments/11) in [Ubuntu bug #1164252](https://bugs.launchpad.net/ubuntu/+source/ubuntu-meta/+bug/1164252). Referred by @maxiaojun in [the "Ubuntu HK" Facebook group](https://www.facebook.com/groups/ubuntuhk/permalink/656205977759519/?comment_id=670770882969695&offset=0&total_comments=3). The original report

[2014-02-24 09:36] bochecha opened #47 "Use GtkHeaderBar for the preferences dialog"
GNOME has published some new HIG for various kinds of dialogs.

In our case, we should follow these ones:
https://wiki.gnome.org/Design/HIG/Dialogs#Presentation_Dialogs

Looking at it quickly, it seems that all we'd need to do is to use a GtkHeaderBar with a "X" (close) button, and that should be it.

However, GtkHeaderBar is only available in Gtk >= 3.10, so we'll need to keep the current code as

[2014-02-26 08:16] yookoala opened #48 "input method icon is not vertically center at at top bar"
Originally reported by @maxiaojun as [Ubuntu bug #1284159](https://bugs.launchpad.net/ubuntu/+source/indicator-keyboard/+bug/1284159). The original message goes:

[2014-04-21 16:48] yookoala opened #49 "Cannot use numpad to select character"
Reported by some user on [Ubuntu HK's Facebook group](https://www.facebook.com/groups/ubuntuhk/permalink/695625130484270/?stream_ref=2). User cannot use the number keys on num pad section to select characters.

Since I have no full-size keyboard at home, I cannot verify the issue. I'll test this once I back to office tomorrow.

[2014-04-24 07:36] #49 closed, assigned to bochecha

[2014-04-25 07:32] bochecha opened #56 "Skipping the Gtk test fails"
It seems the behaviour of importing Gtk changed between Ubuntu 12.04 (our CI server) and Fedora 20+.

So the detection we have in our unit tests (can we import Gtk? if no slkip the test) fails on recent Fedora, which makes the unit tests fail.

We need to fix this.

[2014-04-29 10:06] yookoala opened #57 "Apport error on Ubuntu 14.04 due to cangjie.errors.CangjieNoCharsError"
Just crashed twice on Ubuntu 14.04. Ubuntu generates this error report:
![error-20140429](https://cloud.githubusercontent.com/assets/91274/2827600/4745460c-cf85-11e3-8153-a0a4afb93614.png)

Found no particular pattern to trigger this error yet, but it seems to be mishandling of lower level status code.

[2014-06-02 03:19] czchen opened #58 "ibus-cangjie does not respect --libexecdir"
From https://bugs.debian.org/746978

In debian, we want to put `ibus-engine-cangjie` to `/usr/lib/ibus` like other ibus packages. However, ibus-cangjie does not use the value set by `--libexecdir` to determine the path of `ibus-engine-cangjie`, thus we cannot change `ibus-engine-cangjie` easily. Please help to support `--libexecdir`, thanks.

[2014-06-15 13:52] bochecha opened #59 "Add a "pass-through" input mode"
Users constantly request this, and I'm starting to understand why it is important.

---

We currently do some funky stuff with the `shift` key:
- when a user press `a`, we interpret that as a key for a Cangjie code. But if the user presses `shift`+`a` then we ignore it, and so we directly input `A`
- the CAPS LOCK just reverses this behaviour (CAPS LOCK then `a` gives `A`, CAPS LOCK then `shift`+`

[2014-06-21 18:26] dictcp opened #60 "The char selection window is not next to the cursor (in Firefox)"
Summary
When I am typing Chinese in Firefox, the ibus char selection window is not next to the cursor but at the bottom of the window. (as shown in the attachment) I encounter this problem on both Ubuntu 14.04 under GNOME shell.
I have also tested it on ibus-table-zh-quick5 and the ibus-table works fine. It seems it is ibus-cangjie issue.

Package versions:
ibus

[2014-11-17 13:57] bochecha opened #61 "Incorrect translation"
_This was originally reported by @wwycheuk at https://github.com/Cangjians/cangjians.github.io/issues/16_

---

In the string "可以額外啟用下列額字元" in the configuration page, the second "額" should be eliminated.

[2014-11-21 09:43] yookoala opened #63 "Duplicates"
Corresponding to the [closed bug #92 of libcangjie](https://github.com/Cangjians/libcangjie/issues/92).

Some user testing revealed that we don't properly eliminate duplicate characters returned to the user.

This is especially bad for Quick users.

A few examples...
- a query for `m*e` will return: 汞歿泵玻夏破球豉瑕**碌碌**酸憂臻豭璦霞覆
- a query for `o*e` will return: 伋侵俊隻假**氯氯**飯傻優雙餿饅伎**汆汆**俅复
- a query for `l

[2014-12-13 02:55] andy-chung opened #64 "Fedora 21 - select window when using wildcard drop below screen in firefox"
In Fedora 21, select window when using wildcard drop below screen in firefox.
This does not happen in Fedora 20.
This does not happen in other apps in Fedora 21 when using ibus-cangjie

[2014-12-13 12:16] #64 closed, assigned to nobody

[2014-12-29 12:05] #63 closed, assigned to bochecha

[2014-12-30 19:28] #61 closed, assigned to yookoala

[2014-12-31 03:04] #46 closed, assigned to bochecha

[2014-12-31 03:04] #56 closed, assigned to bochecha

[2014-12-31 03:04] #57 closed, assigned to bochecha

[2015-03-04 07:54] bochecha opened #67 "Traceback in the setup dialog"
Steps to reproduce:

1. Run: ```$ ibus-setup-cangjie quick```
2. Don't close the setup dialog
3. Change the value of the *Half-width Characters* property.
4. Observe the following traceback:

[code]

[2015-03-04 13:09] bochecha commented on #67
Fixed by #68

[2015-03-05 01:43] #67 closed

[2015-03-29 17:53] #60 closed

[2016-02-10 16:33] iravan opened #71 "feature request - display candidate whatever it possible be"
I found that a pretty good feature on my andriod phone cangjie input method.
My phone is samsung. The cangjie of input method should be made by samsung.

I hope ibus-cangjie can also have that feature -
display every possible candidate when user input every cangjie code.
for instance "我".
竹: 竹我粵犥牻犏
竹手: 牛我犥牻生
竹手戈: 我牻犥犏

and the ordering should be by "frequency"

[2016-02-19 18:38] yookoala commented on #71
This is controversial.

We've heard people found this "search as you type" behaviour annoying even before the project started. If we're to implement it, we need to have option to turn it on and off. Also we need to make sure it is not hugely impact on the performance.

Need more discussion here.

[2016-03-06 16:11] bochecha opened #72 "Incorrect handling of '0' when displaying a list of candidates"
Let's say the user types `hi` in Quick (or `h*i` in Cangjie). We're giving them a list of candidates.

They can then press a number between 1 and 9 to select a candidate on the currently displayed page.

But what if they type 0?

Here's what happens:

[code]

That triggered the ABRT crash catcher in Fedora, and a user was nice enough to [report the issue](https://bugzilla.redhat.com/show_bug.cgi?i

[2016-03-07 15:36] chanueting commented on #72
Thanks for posting right here.
However, I have tried to type h*i in Cangjie and choose 0 again without the same issue.
What I have noticed is:
h*i + 0 => 0 is input, the drop down is still in effect, without crash.
h*i + space + 0 => 待 is input, the drop down is gone, without crash.
Sorry I cannot reproduce it again. However, if you have any idea / test case. Do feel to let me work on it.

[2016-03-07 16:00] bochecha commented on #72
You don't **see** the crash, probbaly because ABRT caught it, and since you've already reported it, then it just ignores it.

But I assure you it's there, here's how to reproduce it:

1. switch to a non-cangjie input method (for example, plain English)
2. kill all the ibus-cangjie related processes
3. run ibus-cangjie manually in the terminal: `/usr/lib/ibus-cangjie/ibus-engine-cangjie --ibus cang

[2016-03-07 17:09] chanueting commented on #72
This for pointing out the ABRT behaviour. It keeps printing traceback in the terminal on every crash (at the time typing 0).
I have tried using MS Windows Quick and it would keep inserting 0 while waiting for valid input (number between 1 and 9). Do you think it is possible in ibus? Thanks.

[2016-03-07 17:23] bochecha commented on #72
What you describe is the intended behaviour. It's what we wanted to implement.

The fact that it isn't what happens is why I opened this bug report. :wink:

We just need to actually fix it.

[2016-08-07 14:06] iravan opened #73 "showing the icon in panel incorrectly"
Desktop Environment info page

Nomal Case of ibus daemon icon
![default](https://cloud.githubusercontent.com/assets/4957816/17462810/fcb6527a-5cea-11e6-992c-4f7003389c8b.png)

Abnormal :
![default](https://cloud.githubusercontent.com/assets/4957816/17462815/175df6fa-5ceb-11e6-8863-aad4590ec18b.png)
![default](https://cloud.githubusercontent.com/assets/4957816/17462816/1987c334-5ceb-11e6-8022-cdc9a

[2016-08-07 14:11] iravan opened #74 "icon was blur while switching input method in ibus"
Desktop environment :

The blur icon of switching input method in ibus
![4](https://cloud.githubusercontent.com/assets/4957816/17462846/dafb3ffa-5ceb-11e6-8612-fd751e4e9709.png)

[2016-08-07 19:20] bochecha commented on #74
Basically, our icon is bad, it's a quick thing we did with @yookoala back in the days.

However, both of us use GNOME, and GNOME doesn't use those iconds, so none of us has any incentive to fix this. (plus, none of us knows how to properly draw icons :wink: )

I'd be happy to receive a better icon as a patch, though.

[2016-08-07 19:20] bochecha commented on #73
Basically, our icon is bad, it's a quick thing we did with @yookoala back in the days.

However, both of us use GNOME, and GNOME doesn't use those icons, so none of us has any incentive to fix this. (plus, none of us knows how to properly draw icons :wink: )

I'd be happy to receive a better icon as a patch, though.

[2016-08-08 01:48] iravan commented on #74
I see the website has a icon. why not just use that :
`http://cangjians.github.io/images/cangjie-with-codes.png`

[2016-08-08 12:11] bochecha commented on #74
Because it's way too big, has too much details, and is super distracting with all the colours.

You don't just take a big picture and scale it down, that would make a horrible icon.

[2016-08-08 16:14] iravan commented on #74
I could do that. Is that it better draw by myself ? I could do that little task.

[2016-08-08 16:50] bochecha commented on #74
One problem is it needs to be readable on user panels, and those might be clear or dark.

For example, if you just make an icon with "倉" in a black color, it won't be readable on dark panels. Alternatively, if you make it in a white color, it won't be readable on clear panels.

Another issue is that it needs to be readable with panels of various sizes, since some desktop environments allow changin

[2016-08-08 17:04] iravan commented on #74
ibus-table-* just make the foregroud color and background is transparent.
I think no need think too much. Just follow the way like others. make it work without issue as goal.
I think SVG is necessary as it supports scaling without issue and feel to export to other resolution. Flexible enough.

[2016-08-09 16:05] iravan commented on #74
Hi , just draw icons for this project. Hope it helps. It's svg with high resolution in the zip file. you can export it to any size of image file from GIMP/inkscape.
[cang and quick.zip](https://github.com/Cangjians/ibus-cangjie/files/409350/cang.and.quick.zip)
![text3383](https://cloud.githubusercontent.com/assets/4957816/17523676/0cfe8306-5e8e-11e6-81e8-dee3f2dc2de9.png)
![text3384](https://cloud

[2016-08-09 16:47] bochecha commented on #74
Will that be readable on a dark panel?

Can you try it and provide screenshots?

[2016-08-10 11:05] iravan commented on #74
I think that depends how dark it was. For manjaro xfce's penal. It's panel color is #3c403e.
if the icon is what I posted - black. That the result to me is :
The icon size is 20x20px :
![11](https://cloud.githubusercontent.com/assets/4957816/17551182/26587436-5f2b-11e6-99e9-24e89ced8474.png)

But with white :
![12](https://cloud.githubusercontent.com/assets/4957816/17551529/46632c92-5f2d-11e6-95e8

[2016-08-10 11:29] iravan commented on #74
This is another quick icon that it seemed a better one.
![14](https://cloud.githubusercontent.com/assets/4957816/17552036/ff9757cc-5f2f-11e6-91c6-7b967cda08d8.png)
![15](https://cloud.githubusercontent.com/assets/4957816/17552116/7dcd351c-5f30-11e6-8b2a-77718bd56aca.png)
[quick2.svg.zip](https://github.com/Cangjians/ibus-cangjie/files/410920/quick2.svg.zip)

[2016-08-10 11:58] iravan commented on #74
However , the icon in preference of ibus is using the same icon. I think it cannot use black or white as it usually conflict with panel and perference page of ibus.
I think it better to use RED , BLUE , GREEN ... such color.
I prefer to use blue.
Plus , the default ibus input method is "EN" which uses #415099 as it's foreground color.

[2016-08-11 08:36] bochecha commented on #74
That « black on black » screenshot is completely unreadable.

The problem with making the icon white is that it would then become unreadable on a light-colored panel.

How do other IBus engines deal with this?

[2016-08-11 08:45] iravan commented on #74
The other ibus engine's icon used "shadow" on it's icon pattern.
I think we could either do the same say or add a background behind the icon.
e.g. Pattern of icon uses white. Add a dark solid circle or rectangle as it's background.

[2016-08-11 08:47] bochecha commented on #74
This is exactly what the current icons do.

[2016-08-11 08:48] bochecha commented on #74
I think your problem is that we only provide a 16x16 icon, which is too smal for the ibus switcher.

Since we have the svg as well, maybe we should provide bigger icon sizes in addition to the 16x16 one?

[2016-08-11 08:50] iravan commented on #74
I see. But is it the pattern I post qualified the needs ?
If it is , let's keep going.

Seems it's reasonable that adding a dark solid circle or rectangle as it's background.

I need the colour decision to make the icon.
What colour of the pattern ?
What colour of the dark solid circle or rectangle ?

[2016-08-11 08:51] bochecha commented on #74
Again, this is exactly what we already do!

[2016-08-11 08:53] iravan commented on #74
I think yes.

[2016-09-01 07:41] bochecha commented on #71
Isn't this the exact same as #37 ?

[2016-09-02 09:06] iravan commented on #71
@bochecha ah yes!

[2016-09-02 09:06] #71 closed

[2016-09-08 14:40] dictcp opened #75 "some char candidate is not visible when near the bottom of screen"
Summary
When I am typing Chinese in gedit (other any other text editor/textarea), part of the ibus char selection window is not visible when the windows is too long (in term of height).

Package versions:
ubuntu 16.04.1
ibus-cangjie-2.4-1

Steps to reproduce:
1. install ubuntu, ibus-cangjie and gedit
2. enable quick input method
3. move the window to the bottom edge of the screen
4. try typing in

[2016-09-08 14:55] dictcp commented on #75
https://github.com/Cangjians/ibus-cangjie/pull/76 works for me

[2016-09-08 15:07] bochecha commented on #75
#76 really was the wrong fix for this.

Can you provide a screenshot of the whole screen, I'm having trouble understanding the full problem.

[2016-09-08 15:49] dictcp commented on #75
![candidate_box_screen](https://cloud.githubusercontent.com/assets/1752436/18356274/acb27338-761e-11e6-9f99-27b19dbfb6be.png)

since I am using quick, the item in char selection window should be more than 2.

[2016-09-08 15:51] dictcp commented on #75
that nonsense PR should not be accepted for sure :P

and actually I am suspecting it is upstream issue - maybe got fixed and thus ubuntu only issue

(I will use that nonsense PR in my daily life) and I will try to reproduce it in other platform to confirm whether it is a upstream issue.

[2016-09-08 17:47] antonyho commented on #75
Can’t reproduce the problem on Manjaro GNOME.

[2016-09-10 08:47] bochecha commented on #75
I can reproduce with gedit, placing the window at the bottom of the screen.

![bad](https://cloud.githubusercontent.com/assets/272170/18409284/a8d870a2-7743-11e6-9e3a-23efdb68f325.png)

One thing to note is that ibus-cangjie is not the thing that actually draws the candidate popup on the screen, that's the « ibus panel ».

I'm using GNOME, so for me the « ibus panel » is the GNOME Shell. On other

[2016-09-20 13:57] bochecha commented on #75
@dictcp I don't know whether you reported a bug, but I ended up doing it: https://bugzilla.gnome.org/show_bug.cgi?id=771724

I talked about it with some GNOME folks, and one of them will try and fix it.

Closing this now, thanks for the original bug report!

[2016-09-20 13:57] #75 closed

[2016-12-23 02:58] dollars0427 opened #77 "Text order in Quick input method not same as Windows"
For example, The order of 「秘」（竹竹）in Windows should be 4, but in ibus-cangjie is 5.
Not all the texts have this issues, such as 「神」（戈中） is fine.

Now I only find this issues on this texts:
1. 秘(竹竹)
2. 程(竹土)
3. 搜(手水)

[2016-12-30 09:39] yookoala opened #78 "Travis build and test fails"
Travis uses [virtualenv] in an [isolated manner][isolated-virtualenv].

This approach provides flexibility for Python package to test against different Python versions. However, this approach prevents running python test with system pacakges (e.g. python-gi) and globally installed packages (e.g. pycangjie). Even if the flag `–system-site-packages` is on, system package cannot be found normally.

[

[2016-12-30 10:41] bochecha opened #80 "Move to Gitlab"
*Note: This issue is for libcangjie, pycangjie and ibus-cangjie*

How would you feel about moving the Cangjians repos somewhere to a Gitlab hosting?

The advantages of that I can see:

1.  Gitlab is free software (well, it's open-core), and I'm convinced [we should use free software tools as much as possible when developing our own free software](https://mako.cc/writing/hill-free_tools.html).

[2016-12-31 11:34] bochecha commented on #77
Thanks for reporting this issue! 😃

One thing you didn't mention is the version of the Quick input method you are using. Is it version 3 or 5?

[2016-12-31 11:43] dollars0427 commented on #77
Thanks for your reply!
I tried version 3 and version 5,  but it had same problem. ☹️

[2016-12-31 11:47] bochecha commented on #77
Alright, in that case what I'd like is for you to give me the complete list of candidates you get on Windows, **in the order you get them**, both for version 3 and 5.

Unfortunately I don't have access to a Windows machine, so I can't test this on my own. 😞

Can you do that for the 3 codes you found? (竹竹, 竹土 and 手水)

[2016-12-31 12:05] dollars0427 commented on #77
No problem.
I am using MAC, but OpenVanilla (https://github.com/openvanilla/openvanilla/) , input kits which I am using is support quick input and the text order actually same with Windows.

Here are complete text lists of these 3 codes:

## 竹竹：
![2016-12-31 7 52 46](https://cloud.githubusercontent.com/assets/2662715/21577348/ccd75b2e-cf92-11e6-8705-767054af58d8.png)
![2016-12-31 7 52 50](https://

[2016-12-31 12:42] bochecha commented on #77
(note that screenshots make it harder for me to make any comparison, it would have been easier if you had typed them)

---

Ok, so this is what libcangjie returns for `竹竹` (`h*h`) in Cangjie 3:

[code]

And according to your screenshots, on OpenVanilla that would be:

[code]

*Note: I kept only the first 27 characters above (i.e 3 pages) because after that there are more differences, probably due

[2017-01-02 04:24] yookoala commented on #80
Is it possible if we only rely Gitlab for CI testing, and to source code distributing or version control.

I'd prefer us to stay on Github for development and issue tracking. The community in Github is much more active than in Gitlab. I suggest we can make repositories to test on Gitlab before deciding.

[2017-01-02 04:39] yookoala commented on #77
On Windows 10, input "竹竹" returns these:
<img width="132" alt="windows-hh" src="https://cloud.githubusercontent.com/assets/91274/21584595/336143b8-d0e8-11e6-9ea7-8e22d3057549.png">

Seems OpenVanilla is using a different order than Windows.

[2017-01-02 04:56] yookoala commented on #77
Fact first. These are the output for "hh" from Windows 10 Quick:

<img width="132" alt="windows-hh" src="https://cloud.githubusercontent.com/assets/91274/21584635/de0c91c2-d0e9-11e6-8557-2be05f31de9c.png">
<img width="126" alt="windows-hh-2" src="https://cloud.githubusercontent.com/assets/91274/21584636/e0856de8-d0e9-11e6-929a-fae1b9cc5e6d.png">
<img width="126" alt="windows-hh-3" src="https://clo

[2017-01-02 06:36] yookoala commented on #77
I've spent some times in tracing the character "秀". It is no natural for a character to have 2 sets of code. It is however mapped to 2 code in Cangjie 3 (`竹木弓竹尸` / `hdnhs` and `竹木弓尸竹` / `hdnsh`). The mapping was there all the way since 8585a29, which is when table.txt was first created.

Same case for "垂" (竹土) and "拔" (手水).

If you search for standard Cangjie code for these words, you'd find that

[2017-01-02 06:49] yookoala commented on #77
Proposed solution:

## A. Have all these duplicated mapping removed.

We can trace down the list of Cangjie 3 mapping with a "`,`" in Cangjians/libcangjie@8585a29 table.txt. Then we can simply remove the second mapping.

Pros: Simple and Clean :-)
Cons: This will be a drawback for Cangjie side.

## B. Change the frequency of the secondary mapping

Quick list character by frequency. We may simply c

[2017-01-02 11:11] bochecha commented on #77
No, it is a different one.

You remember correctly that we have already done this in the past (your proposed solution B), however that was for 氐 (see the two lines for it in `table.txt`)

This might indeed be the right solution for these 3 new cases.

However, if we end up having more and more of these, then maybe we'll need to start thinking about having different codes for Cangjie and Quick? Pro

[2017-01-02 12:23] yookoala commented on #80
Another alternative is use Drone.io for CI:

* It's core is also [open sourced][drone.io].
* It support [matrix definition], which support multiple docker image builds.
* It support Github.

[drone.io]: https://github.com/drone/drone
[matrix definition]: http://readme.drone.io/usage/matrix-guide/

[2017-01-02 14:32] yookoala commented on #77
I think this is mainly an issue of expected order, not the code mapping. With B, Quick users will have their expected order and the non-default mapping come after. If we simply do different coding on Cangjie and Quick, then Quick users will lost the non-default mapping.

I think we should consider this "secondary frequency" as a general solution instead of special case handle. That is to change th

[2017-01-08 13:06] pterodragon opened #81 "Arch linux ibus-cangjie package seems to be not working after updating to Python3.6"
ibus-cangjie still resides in /usr/lib/python3.5/site-packages/

I used cangjie for many years and really appreciate you all implement this in ibus after I use linux :)

[2017-01-08 13:11] bochecha commented on #81
Not something we can do here upstream, it's up to the Arch package maintainers.

[2017-01-08 13:14] pterodragon commented on #81
Isn't Antony the maintainer of the package there?
BTW, a rebuilt doesn't simply work

[2017-01-08 13:33] bochecha commented on #81
You probably need to rebuild pycangjie first, then ibus-cangjie.

@antonyho maintains the AUR packages, which get built on your machine when you install them.

They are not pre-built packages, therefore you need to rebuild them yourself.

[2017-01-08 13:39] pterodragon commented on #81
Hey you are right, I forgot to clean and rebuild the dependencies
Thank you for your help :)

[2017-01-08 13:39] #81 closed

[2017-01-08 13:40] bochecha commented on #81
No problem. Glad it works for you now! :)

[2017-01-08 19:10] antonyho commented on #81
Sorry, I was too late to see this issue.
Yes, simply rebuild from pycangjie and then ibus-cangjie should fix your issue.

[2017-01-15 15:55] antonyho commented on #81
Sorry, I was too late to see this issue.
Yes, simply rebuild from pycangjie and then ibus-cangjie should fix your issue.

Antony

[2017-01-17 16:24] iravan opened #82 "Build failed in Manjaro Linux"
python version : 3.6

`yaourt ibus-cangjie`

[2017-01-17 20:23] bochecha commented on #82
Yeah, well, you need to install pycangjie as well.

I don't know how it's packaged in Manjaro.

That seems like a packaging bug, pycangjie really should be a dependency of ibus-cangjie.

Can you report it to the Manjaro developers?

[2017-01-18 16:00] antonyho commented on #82
Would you check whether Manjaro AUR has pycangjie package or not?

[2017-01-31 03:53] #82 closed

[2017-01-31 07:02] antonyho commented on #82
Good to know the problem has been solved. But would you describe the steps to reproduce this problem and the steps to solve it. For those who come into there from search engine use as a reference?
Appreciated!

[2017-01-31 12:16] iravan commented on #82
I am trying to reproduce the problem.
I install a Manjaro Linux image in virtualbox and trying to install ibus-cangjie.
But I discover that I failed on the installation of ibus-cangjie.

that's what the installation breaks :
`==> Continue building python-pycangjie ? [Y/n]
==> ------------------------------------------
==> Y

==> Building and installing package
==> Making package: python-pycangjie

[2017-01-31 12:51] iravan commented on #82
I install ibus-cangjie and dependences successfully. It seems just the system package issue. Please just ignore my last comment.

[2017-02-03 04:23] yookoala commented on #82
@iravan

Seems like an issue with the `configure.ac` script.
Please help running this command on your virtualbox system and provide the results:
[code]

[2017-03-06 06:00] wnereiz opened #83 "cangjie.errors.CangjieDBOpenError: Error opening the database"
"make check" failed with a bunch of these kind of errors in the log
(And ibus-cangjie not work after build, I'm not sure if that is related)

[code]

python 3.6.0

[2017-03-06 12:19] bochecha commented on #83
Hi there, thanks for the bug report. :)

These error messages mean that the tests couldn't find the libcangjie database.

Which version of ibus-cangjie are you building? Is it Git master or a release tarball?

[2017-03-08 02:04] wnereiz commented on #83
Release version 2.4

I'm not sure if it is because OBS handling libcangjie as dependency incorrectly before building ibus-cangjie. I will do some research on it.

[2017-03-08 08:27] bochecha commented on #83
Ok, so did you take [the release tarball](https://github.com/Cangjians/ibus-cangjie/releases/download/v2.4/ibus-cangjie-2.4.tar.xz) or the Github auto-generated zip/tarball?

The latter two are known not to work, and we don't support them. Unfortunately I couldn't find a way to tell Github not to make them. 😞

Make sure you only use [the release tarball](https://github.com/Cangjians/ibus-cangjie/r

[2017-03-08 09:57] wnereiz commented on #83
Yes, I confirm it is the release tarball.  And yes I'm building for openSUSE.

Looks like there's problem on the build dependency of my spec file, I'm going to research.

[2017-03-08 09:59] bochecha commented on #83
Awesome! Thanks for making openSUSE packages! 👍

As for the spec files, feel free to take much inspiration from my Fedora packages:

* http://pkgs.fedoraproject.org/cgit/rpms/libcangjie.git/tree/libcangjie.spec
* http://pkgs.fedoraproject.org/cgit/rpms/python3-cangjie.git/tree/python3-cangjie.spec
* http://pkgs.fedoraproject.org/cgit/rpms/ibus-cangjie.git/tree/ibus-cangjie.spec

Not sure they can

[2017-03-08 10:08] wnereiz commented on #83
Yes, I have checked these Fedora specs. There are some differences between Fedora and openSUSE spec macros. And I need to consider packaging policy for OBS.

I think I found the reason for this issue, there is a wrong "Requires" dependency, after I changed it, make check still failed with other errors. But any way this problem solved.
Thank you for the help.

[2017-03-08 10:08] #83 closed

[2017-03-08 10:11] bochecha commented on #83
No problem!

Feel free to come and hang in #linux-hk on Freenode, if you need some more real-time help with the packaging.

And once ibus-cangjie is in openSUSE, do send a pull request to add install instructions to the website: https://github.com/Cangjians/cangjians.github.io/blob/master/projects/ibus-cangjie/install.md

😃

[2017-03-17 06:19] wnereiz opened #86 "PyGIWarning: Gtk was imported without specifying a version first"
[code]
It will not be revealed in "make check", only come out when it is running after installation, and it **does not prevent the program running and the program function**.

This issue is because of a new method to import these gi modules, I have created a patch **[here](https://build.opensuse.org/package/view_file/M17N/ibus-cangjie/fix_import_version.patch?expand=1)**

If you think it is okay,

[2017-09-19 07:13] #78 closed

[2017-11-21 09:51] yookoala commented on #77
Any update on this issue?

[2017-11-21 09:57] bochecha commented on #77
I'm not sure what kind of update you're expecting. I'm fine with implementing your option B above for those 3 characters we identified in this issue, as I had said in https://github.com/Cangjians/ibus-cangjie/issues/77#issuecomment-269959217

As for the more general solution, let's move the discussion to a separate issue.

[2017-11-21 10:11] yookoala opened #87 "Switching to English mode with a simple hotkey"
Chinese user rarely only type Chinese with their computer. The below situation force user to quickly switch typing Chinese and English:
1. All terminal commands are English or roman character based character.
2. Most URLs consists solely of English characters.
3. When typing a email address in a Email content.
4. When mix using English and Chinese (common in HK).
5. When entering dash from a typin

[2017-11-21 10:12] yookoala commented on #74
@iravan Have you installed the latest version of Ubuntu (17.10)? Do you still have this issue?

[2017-11-21 11:31] bochecha commented on #87
And that seems like the right UX to me.

That would be a bug in IBus which needs to be fixed there, not worked around here.

If IBus Cangjie is too slow to start, then let's fix that, not work around it.

No it's not: it's a workaround to avoid fixing the real issues.

That's because the right solution is switching to another input source if you want to type something else than Cangjie/Quick. It's

[2017-11-21 19:36] yookoala commented on #87
French and English both use romance characters. You don't really need to switch to English keyboard layout to type English. CJK language is a different situation. The need to switch English and Chinese typing is frequent and real.

The need for a Chinese input method to include English typing (pass through) is real. Passing through the raw English key in to output is hardly an input method.

[2017-11-22 08:07] bochecha commented on #87
You do need to switch to a French keyboard to type French, though. I can't touch type, I look at the keyboard when I type. If I'm typing on a QWERTY keyboard (as I was back when I was living in Hong Kong) then I'll use the US layout as it maps to what I see when I look at my keyboard. But to input French, I'd need to switch to the French layout. For a word like "français" I'd type all letters with

[2017-11-22 08:30] yookoala commented on #87
To be frank, I think the biggest design flaw in iBus in general is it mix up keyboard layout with input method. They are essentially different thing.

Cangjie input method is essentially mapping writing strokes to English / romance character A-Z. It is not essential for the user to use a English (US) QWERTY keyboard layout with Cangie:

* If you're using a Dvorak keyboard, all the input keys of Ca

[2017-11-22 08:51] bochecha commented on #87
IBus doesn't. GNOME does. For most non-technical users they really are the same thing, though: a way to input a language.

You're thinking they are different because one of the two can be obtained directly by typing on a keyboard (what you see painted on the key is what you get on the screen).

But that's a very limited view of how to input a language, though. (coupled to the fact that you underst

[2017-11-22 08:53] yookoala commented on #87
It is of course perfect if I can click only button on my keyboard to switch input method between English and Chinese (In Windows, that key would be left SHIFT). And it would be perfect if the transition takes no overhead.

But in reality, this is hardly achievable. We cannot, and probably should not, allocate a key just to activate when our input method is installed. Also, activating / deactivatin

[2017-11-22 09:06] yookoala commented on #87
Because I am a long time Cangjie user, I know for a fact that Cangjie is mapping to characters. Keyboard layout is only relevant to how people getting use to it. It is not an opinion.

Every Cangjie beginner learn the keys by sub-categories:
* A and B are Sun (日) and Moon (月); C, D, E, F, G are the five elements: Metal (金), Wood (木), Water (水), Fire (火) and Earth (土). These are the "Group of Philo

[2017-11-22 09:14] yookoala commented on #87
Yes and no.

Keyboard layout mapping are still relevant for people who are unfamiliar with key positions and depend on visual cue on the keys. For instance, I can finger type English easily. But I don't remember all the locations (plus with / without shift key) the punctuation marks. I have to actually look at my keyboard to see where things are.

For I while, I have a Japanese keyboard notebook.

[2017-11-22 09:15] bochecha commented on #87
I think you can actually do that in the GNOME Settings (maybe in Tweak Tool?)

The process doesn't exit when you switch away from Cangjie/Quick, so the startup overhead only happens the first time. If there is still some overhead for every switch, then it probably comes mostly from IBus and should be fixed there.

But then the IBus design where every engine is a process which must be started and t

[2017-11-22 09:39] bochecha commented on #87
You're mixing two different things: the physical keyboard with letters painted on it, and the virtual "keyboard layout" which directly prints on screen a single letter in response to a single keycode sent by pressing a single physical key.

In my previous comments when I talked about keyboard layouts being problematic, I was speaking only about the latter.

Of course there still is a physical layo

[2018-01-20 06:10] teamblubee opened #88 "GLib-GIO-ERROR"
I created a port, built and installed
libcangjie
pycangjie
ibus-cangjie

Even after the installation I get this error:
[code]

This is the full verbose output
[code]

What exactly is missing?

[2018-01-20 11:08] bochecha commented on #88
Hi there,

To debug this I'll need a bit more information. First of all, how did you install ibus-cangjie? Can you paste the **exact** list of commands you ran? (from your shell history)

Also, what do you mean by "I created a port"?

[2018-01-22 01:39] teamblubee commented on #88
hi @bochecha

a port, is taking your software and making it available to the *BSD ecosystem, specifically FreeBSD: https://www.freebsd.org/ports/categories-grouped.html

I actually sorted the issue out, I needed to run
[code]

to get the glib schemas to get installed.

Although, I had to make several modifications to your configure scripts.

Maybe you would be able to upstream some of these change

[2018-01-22 09:51] bochecha commented on #88
Oh, very cool! We're not on the *BSD yet, thanks for doing that! 🙂

Yes, that's needed. It's why I asked you for the specific commands you had run, because I suspected you were missing that step.

Not that the schema is installed by `make install` already, but then a binary version needs to be compiled by `glib-compile-schemas`.

As for your patches, the first one looks entirely harmless, so I'm m

[2018-05-06 14:28] bochecha commented on #77
@dollars0427 Hi there! We didn't forget you and this issue, it only turned out to be harder to fix than we initially thought. Sorry for the wait. :slightly_smiling_face:

Are you comfortable with the command line? I'd like to send you a file for you to test, but that will require entering a few commands as root.

[2018-05-06 15:09] dollars0427 commented on #77
@bochecha Yes, I can. There are a computer which installed Ubuntu 14.04 so I would allow to using command line as root.

Thanks for your help !

[2018-05-06 16:30] bochecha commented on #77
@dollars0427 Alright, so ideally I'd like you to do this on the machine where you use ibus-cangjie normally. Do the following:

1.  download a test libcangjie database:
[code]
2.  backup the current libcangjie database:
[code]
3.  install the test libcangjie database:
[code]
4. reboot the computer;

After a reboot, I'd like you to use ibus-cangjie as usual, and pay attention to two things:

1. the

[2018-05-14 01:58] dollars0427 commented on #77
Thank you for your help! I tested the new database on my computer, it's look like fixed many order problem. It's great!

However, I find that there are new ordering problem. For example,
The ordering of 「水弓」is:
![show_reel16](https://user-images.githubusercontent.com/2662715/39974620-96ea82fe-575c-11e8-85cb-ac6b42dc18c6.png)

The ordering on Hime (It's same as Windows, too.) is:
![show_reel16](htt

[2018-05-14 09:13] bochecha commented on #77
I'd like to ask you the following, if possible, as they make it much easier for me to work on this issue:

1. instead of screenshots, the list of characters **as text** allows me to copy-paste;
2. when you give a code, 「水弓」 is useful, but saying that it corresponds to 'en' (the keys on the US keyboard) makes it easier to identify;

The reason for these 2 is that I can't read Chinese, and I can't t

[2018-05-30 15:57] didrocks commented on #49
I have an up to date ubuntu 18.04 machine and I can't reproduce the issue, tested with @bochecha. Do you mind fiddling a little more details?

[2018-05-30 15:57] bochecha commented on #49
@universebreaker Are you sure you didn't just forget to enable the "num lock"? :slightly_smiling_face:

[2018-05-31 15:47] universebreaker commented on #49
after testing engine.py...it turns out I installed "quick classic" by mistake (which also append a space strangely if I use [space] to select the frist character...), the "quick" one is fine. sorry for that.

[2018-05-31 17:22] bochecha commented on #49
@universebreaker Oh, "quick classic" is completely unrelated to ibus-cangjie then. If I recall correctly that's from ibus-table.

Glad to learn that we fixed that problem for good. :slightly_smiling_face:

[2018-10-13 07:39] bochecha commented on #86
Oh wow, did we never reply to your issue?

I apologize, we should never let issues without response like this for so long. :disappointed:

A pull request would very much be accepted to fix this.

Your patch looks alright at a quick glance, will review in more details the pull request.

Again, I'm sorry we never replied.

[2018-10-16 09:10] #86 closed

[2018-11-13 01:42] hosiet opened #91 "Please do not install appdata files to legacy location"
According to https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html , we should not install appdata to `/usr/share/appdata` anymore. Besides, the appdata file format needs update as well.

I am providing a patch that is being used in Debian. Please consider applying it and refresh PO files accordingly. Thank you!

[code]

[2018-11-13 12:45] bochecha commented on #91
Thanks for the issue and the patch!

Do you mind sending it as a pull request, so it triggers the CI and gets tested?

[2018-11-16 20:33] #91 closed

[2019-07-07 22:16] bochecha commented on #77
Hi @dollars0427!

Sorry for the lack of reply for so long. We didn't forget you, but we've been very busy with other things and couldn't work on Cangjie much. :slightly_frowning_face:

Since February I have been gathering all the results for all the codes on Windows. It took ages, but I finally got them all. (the gory details are at https://gitlab.freedesktop.org/cangjie/platform-comparisons/ if y

[2019-07-07 22:33] bochecha commented on #80
We have started migrating to https://gitlab.freedesktop.org/cangjie/ !

Let's use this ticket to keep track of what still needs to be done:

*   [x] Migrate build-essential
    *   [x] import the code, issues, merge requests, …
    *   [x] adopt the Freedesktop.org code of conduct
    *   [x] make it build images and push them to the Gitlab registry
*   [x] Migrate libcangjie
    *   [x] import th

[2019-07-07 22:36] bochecha commented on #2
Canonical abandoned Unity, so let's close this.

It seems a community has gathered to try and maintain Unity. If you work on Unity and would like to work with us on better integrating IBus Cangjie in it, do let us know and we can reopen this issue. :slightly_smiling_face:

[2019-07-07 22:36] #2 closed

[2019-07-07 22:43] bochecha commented on #48
Canonical abandoned Unity, so let's close this.

It seems a community has gathered to try and maintain Unity. If you work on Unity and would like to work with us on fixing this, do let us know and we can reopen this issue. :slightly_smiling_face:

[2019-07-07 22:43] #48 closed

[2019-07-12 04:35] dollars0427 commented on #77
Thank you very much.
I am sorry that I always forget to check the github notification,  so reply too late  ;)
I will try this fix on my Ubuntu 16.04 computer and report the result to you later.

[2019-07-12 09:54] bochecha commented on #77
It's never too late. Especially not after we gave you no response for over a year. :slightly_smiling_face:

[2019-07-17 12:41] benny1hk opened #93 "1st page of candidate list cannot be display completely on screen edge"
I am using ibus-quick on
Ubuntu 18.04.2 LTS
Gnome 3.28.2

You will see when I type at the bottom of the screen, the first page of the candidate will be display out of the screen, but then if we go to next page, the box can be flip upward to display completely. So I guess it only happen when the box create.

![1](https://user-images.githubusercontent.com/5972312/61375636-f1cebd80-a8d1-11e9-8e76-388

[2019-07-17 13:00] bochecha commented on #93
We don't display the candidate popup, GNOME Shell does, so this would be their bug.

However I can't reproduce the bug here on GNOME 3.32, so it might have already been fixed, which means you need to talk to your distribution instead.

Since this isn't our bug and there is nothing we can do about it, I'm going to close this.

[2019-07-17 13:00] #93 closed

[2019-07-17 14:36] yookoala commented on #93
I'm still on GNOME 3.28. And I can reproduce the issue.

Will try to get a GNOME 3.32 to test.

[2019-07-17 15:05] yookoala commented on #93
Also, ibus-tables (with ibus-tables-quick) does not have the same issue.

[2019-07-17 15:34] bochecha commented on #93
Most likely the return of the preedit bug. Still, GNOME Shell draws the candidate popup, not us. We really can't do anything about this here.

[2019-09-06 12:54] maxloh opened #94 "src/setup.py requires incorrect versions of its dependencies"
https://github.com/Cangjians/ibus-cangjie/blob/c96a3ac187e90b735c85e8cbc0ef57e2ae0435b9/src/setup.py#L23-L24

There are errors in `setup.py` which prevent setup window from loading
Reinstalling ibus-cangjie doesn't fix it, but deleting line 23 and 24 of `setup.py`

---
Running setup the first time
[code]
---
After delete line 23,
[code]
---
After delete both line 23 and 24, setup runs normally.

[2019-09-06 15:10] bochecha commented on #94
Woah!

So this was introduced by #90.

And it says we require GLib/Gio 3.0, which… don't exist yet? (and probably never will)

The code should require GLib/Gio 2.0, but somehow we fail to detect the problem during the review. Unfortunately we don't have any test covering the `src/setup.py` file so this was missed. :slightly_frowning_face:

This is pretty much a blocker, we can't release without fi

[2019-09-10 13:57] maxloh opened #95 "[Feature request] Add vocabulary prediction"
It would be better if ibus-cangjie could predict the next/next few words while users are typing.

There are many free Chinese vocabulary list in the Web, licensed in CC-BY-SA or BSD. You can find them in the link below.
https://chromium.googlesource.com/chromium/deps/icu46/+/e49b610806e6ba6063384ffd7f45d5b7cd561e65/source/data/brkitr/README.chromium

You can also use the pre-built by the chromium

[2019-09-10 15:36] bochecha commented on #95
Thanks for the issue.

However this is already tracked as #4 so this would have been better as a comment there.

However, since your comment provides more data, I'm going to close the other one and keep this one. :wink:

[2019-09-10 15:36] bochecha commented on #4
This is now tracked as #95 .

[2019-09-10 15:36] #4 closed

[2019-09-10 16:52] maxloh commented on #95
@bochecha Thanks

[2019-12-17 19:28] hosiet opened #96 "Running ibus-setup-cangjie will crash (since 2018)"
This is a regression introduced in https://github.com/Cangjians/ibus-cangjie/commit/6b46d4c6ef043a631b03b359ee4882b05d7d08a8 .

Downstream Debian Bug: https://bugs.debian.org/946500

https://github.com/Cangjians/ibus-cangjie/blob/c96a3ac187e90b735c85e8cbc0ef57e2ae0435b9/src/setup.py#L21-L25

This is really wrong. Current Linux distributions only provides Gio and GLib of version 2.0, not 3.0. This

[2019-12-17 22:19] bochecha commented on #96
Yes, we know: https://github.com/Cangjians/ibus-cangjie/issues/94#issuecomment-528893770

Do note that this commit has never been released, so Debian shouldn't have pulled it in their package.

I'm going to close this as a duplicate of the other issue.

[2019-12-17 22:19] #96 closed

[2019-12-17 22:20] hosiet commented on #96
Thanks. I guess I will fix it from Debian's side (any thus in Ubuntu later).

[2019-12-17 22:21] bochecha commented on #96
The fix for distros would really be to stick to stable releases, instead of packaging whatever is in master.

In any case, if you write a patch, I'm happy to receive a pull request.

[2019-12-18 16:13] #94 closed

[2019-12-18 16:56] bochecha commented on #96
@hosiet I'm still curious why Debian would be impacted though, does Debian package ibus-cangjie master? :confused:

[2019-12-18 17:01] hosiet commented on #96
That's kind of my fault since I cherry clicked several commit to suppress warnings but did not tested patches thoroughly :-/

Will surely be more cautious, especially when Ubuntu 20.04 LTS is around the corner (and the ibus-cangjie in Debian will be part of this LTS release).

[2020-03-11 02:53] peteroid commented on #77
Hi @bochecha, thanks for sharing the instructions in https://github.com/Cangjians/ibus-cangjie/issues/77#issuecomment-509034968 and I confirmed that the ordering works as expected. Thanks a lot! :tada: :tada: :tada:

[2020-04-12 17:19] changwoo commented on #58
Here is an update: Debian ibus package now uses `/usr/libexec`.

In 2014, the Debian policy used FHS 2.1 which had no `/usr/libexec`.  But the current Debian policy uses FHS 3.0 which explicitly specifies `/usr/libexec` as the path for internal executable files.

See https://bugs.debian.org/955227 for another ibus-cangjie package bug

[2020-05-19 14:54] wyuenchy opened #98 "Candidate list unreadable while in dark theme"
While using dark theme on kde, the candidate list's font and background are both black which makes the table unreadable, is there any way to solve this?
![image](https://user-images.githubusercontent.com/25601830/82341971-aa4e1c00-9a23-11ea-8b9e-c1fe70a05780.png)

[2020-05-19 15:17] yookoala commented on #98
Do you have other ibus input method in your system? Do they share the same issue?

[2020-05-20 12:49] wyuenchy commented on #98
i have RIME as well but it does not have the problem

[2020-05-20 13:17] yookoala commented on #98
Can you cap a screenshot for the ibus-rime character selection dialog in your environment and post here? They might be doing things differently and we need to know about it.

[2020-05-20 14:25] wyuenchy commented on #98
![Screenshot_20200520_222525](https://user-images.githubusercontent.com/25601830/82458056-ce276580-9ae8-11ea-9425-8c2dc03e82c5.png)
this is how it looks in rime

[2020-05-21 05:44] yookoala commented on #98
Thanks.

[2020-05-24 04:11] wyuenchy commented on #98
after some digging i think its a gtk themeing thing, do you know what attribute in the gtk css i should modify to change the font color?

[2021-08-14 21:09] scjlee opened #99 "Cannot open cangjie preference in GNOME 40"
Recently installed Solus GNOME 4.3 which ship with GNOME 40.3. I was trying to change cangjie version via GNOME setting, but the window just refuse to show up. While using ibus-setup command, I got following message after clicking preference under input method tab:

[code]

After googling awhile, i found [similar problem](https://bugzilla.redhat.com/show_bug.cgi?id=1951884) also happened on Fedora

[2021-08-16 07:45] yookoala commented on #99
Hi. Thanks for the report. I'm using GNOME 40 and I confirm that the same happen to me. I believe the same issue was also reported in Red Hat's bugzilla [here](https://bugzilla.redhat.com/show_bug.cgi?id=1951884).

@bochecha: Do you have time to dig into the issue?

[2021-08-25 11:01] bochecha commented on #99
None at all, not before at least a few months, sorry. :(

Le 16 août 2021 09:46:03 GMT+02:00, Koala Yeung ***@***.***> a écrit :

***@***.***: Do you have time to dig into the issue?

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2021-12-22 07:30] igor-kobzev opened #101 "Is this abandonware?"
I see that the latest release was in 2015.
On the other hand, there is ibus-table repo in github that also includes cangjie method.
So is this project abandoned in favor of ibus-table?

[2021-12-22 09:24] bochecha commented on #101
Not at all.

In fact I created ibus-cangjie because ibus-table was pretty bad.

So it's always been an explicit goal to replace ibus-table by ibus-cangjie.

However due to unforeseen personal reasons I haven't been able to work on the Cabgjie stack for a while, which is why the absence of recent activity. :(

--
Mathieu

Le 22 décembre 2021 08:30:29 GMT+01:00, "Igor 祐龢 Kobzev" ***@***.***> a écrit

[2021-12-22 09:26] WhiteCzar commented on #101
I see! I'm sorry for the misunderstanding.
Hope you can find some time to get back to this project (or maybe someone decided to work on it instead). Diversity is always good in software!